
<ul class="errors">

  <% @order.errors.each do
    |field, msg| %>
    <li>
      <%= field %> <%= msg %>
    </li>
    <% end %>
</ul>


<%= form_for @order, method: form_method do |f| %>

  Order id:<%= @order.id %>

  <%= f.label :status %>
  <%= f.text_field :status %>

  <%= f.label :total %>
  <%= f.text_field :total, :disabled => true %>

  <%= f.submit action_name %>

<% end %>

<button id="home">
  <%= link_to "Home", orders_path %>
</button>
