users are sent here from payment page (provided that all the info is valid)

<h1>Order Conformation</h1>

<h3>
    <li>Order placed:<%= datetime %> Order total:
      $<%= order.total %> Order Status: <%= order.status %>
    </li>
</h3>
<h4>
      <% @order.each do | item | %>
      <ul>
        <li><%=item img%></li>
        <li><%=link_to item.description, item_path(item.id)%></li>
        <li><%=item.quantity%></li>
        <li><%=item.subtotal%></li>
        <% end %>
      </ul>

</h4>


<p>
  <%= link_to "Home", orders_path %>
</p>
