<h1>Selected order</h1>

<h4>
  <ul>
    <li>
      Order ID: <%= @result_order.id %>
      Total: $<%= @result_order.total_cost %>
    </li>
  </ul>
</h4>

<h5>
  <ul>
    <li>
      Subtotal for <%= link_to current_merchant.username.capitalize, merchant_path(current_merchant) %> :
      $<%= current_merchant.revenue_by_order(@result_order) %>
    </li>
  </ul>
</h5>

<%= render partial: "order_items" %>

<h5>
  <% if @payment != nil %>
  <ul>

      <p>Customer name: <%= @payment.name_on_card %></p>
      <p>Email address: <%= @payment.email %></p>
      <p>Mailing address: <%= @payment.ship_address %></p>
      <p>CC: <%= @payment.card_number[-4..-1].to_i %></p>
      <p>CC expiration date: <%= @payment.expiration_date %></p>

  </ul>
  <% end %>
</h5>

<button class="button">
<%= link_to "Edit", edit_order_path(@result_order.id) %>
</button>

<button class="button">
<%= link_to "Delete", order_path(@result_order.id),
  data: {confirm: "Are you sure you want to delete this order?"},
  method: :delete
%>
</button>

<button class="button">
<p><%= link_to "Orders", orders_path %></p>
</button>
