<section>

  <h4> Your <%= params[:status]  %> Orders </h4>

  <table id="order_by_status">
    <thead>
      <th>
        <div class="dropdown">
          <button class="dropbtn"> Status </button>
          <div class="dropdown-content">
            <% @merchant.order_status.each do |status| %>
            <%= link_to status, order_by_status_path(@merchant.id, status: status) %>
            <% end %>
          </div>
        </div>
      </th>
      <th>
        Order Id
      </th>
      <th>
        order total
      </th>
    </thead>
    <% @merchant.orders_by_status(params[:status]).each do |order| %>
    <tr>
      <%# raise %>
      <td>
        <%= order.status%>
      </td>
      <td>
        <%=link_to "#{order.id}", order_path(order.id), method: :get%>
      </td>
      <td>
        $<%= sprintf('%.2f', @merchant.revenue_by_order(order))%>
      </td>
      <%end%>
    </tr>
  </table>
</section>

<%= link_to "Back", merchant_path(@merchant) %>
