
<h1>Order Confirmation</h1>

<h3>
    <li>Order placed:<%= @order.created_at %> Order total:
      $<%= @order.total %> Order status: <%= @order.status %>
    </li>
</h3>
<h4>
      <%= @order_items.each do | item | %>
      <ul>
        <li><%=item img%></li>
        <li><%=link_to item.description, item_path(item.id)%></li>
        <li><%=item.quantity%></li>
        <li><%=item.subtotal%></li>
        <% end %>
      </ul>

</h4>


<p>
  <%= link_to "Home", orders_path %>
</p>
