<% if !@item.nil? %>
<ul>

  <% @item.errors.each do |field, message| %>
  <li>
    <%= field %> <%= message %>
  </li>
  <% end %>
</ul>

<%= form_for @item do |f| %>

<%= f.label :name %></br>
<%= f.text_field :name %></br>

<%= f.label :price %></br>
<%= f.text_field :price %></br>

<%= f.label :description %></br>
<%= f.text_field :description %></br>

<%= f.label :Amount_in_Stock %></br>
<%= f.text_field :inventory %></br>

<%= f.label :photo_url %></br>
<%= f.text_field :photo %></br>

<%= f.label :merchant %></br>
<%= f.text_field :merchant_id %></br>

<%= f.label :categories %></br>
<%= f.select :categories, options_for_select(["Snack", "Entertainment", "Recreation", "Toys"]), {}, {:multiple => true, :class => "chzn-select", :style => "width:150px;" } %></br>



<%= f.submit action_name, :class => "button" %>

<% end %>


<%end%>
