<h1><%= @item.name %></h1>
<section>


<!-- image here -->

<h3>Description</h3>
<p>
  <%= @item.description %>
</p>
<p>

  $<%= @item.price%>
</p>

</section>

<section>
  <p>


  <!-- add to cart goes nowhere right now -->
  <%= link_to "Add to Cart", edit_item_path(@item.id), method: :get%>
    </p>
    <p>

  <%= link_to "Review this item", new_item_review_path(@item.id), method: :get %>
<!-- No path -->
    </p>
    <p>
  <%= link_to "Update", edit_item_path(@item.id), method: :get %>

    </p>
    <p>
  <%= link_to "Add Category", edit_item_path(@item.id), method: :get %>
<!-- no path -->
    </p>
    <p>
  <%= link_to "Retire", edit_item_path(@item.id), method: :get %>
<!-- no path  -->
    </p>
</section>

<!-- Review section... temporary location, hopeing it will prevent merge conflicts -->
<section>
<h4>Reviews</h4>
<% if @reviews.count > 0%>
  <% @reviews.each do |review| %>
    <h4>Rating: <%= "#{review.rating}" %></h4>
    <h4>Review: <%= "#{review.description}" %></h4>
  <% end %>
<% else %>
    <p>Sorry, no reviews</p>
<% end %>
</section>
