<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>




  <div id = "container" >


  <header>
    <h1>Besty</h1>
  <nav>
    <div class="dropdown">
      <button class="dropbtn"><%= link_to "Home", items_path %></button>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Shop by Category</button>
      <div class="dropdown-content">
        <%= link_to "Show all", items_path %>
        <% @categories.each do |category| %>
        <%= link_to "#{category.name}", category_items_path(category.id) %>
        <% end %>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Shop by Merchant</button>
      <div class="dropdown-content">
        <%= link_to "Show all", merchants_path %>
        <% @merchants.each do |merchant| %>
        <%= link_to "#{merchant.username}", merchant_path(merchant.id) %>
        <% end %>
      </div>

      <div class="dropdown">
        <% if session[:merchant_id] %>
          <button class="dropbtn">Logged in as <%= link_to "#{ Merchant.find_by_id(session[:merchant_id]).username }", merchant_path(session[:merchant_id]) %>
          </button>
        <% else %>
          <button class="dropbtn">Merchant Sign in</button>
        <% end %>
        <div class="dropdown-content">
        <% if session[:merchant_id] %>
          <p>
          </p>
          <%= link_to 'Logout', logout_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', login_path %>
        <% end %>
          <%= link_to 'Create new', new_merchant_path, method: :get%>
      </div>
    </div>
    </div>
  </header>



</nav>

<% flash.each do |name, message| %>
<section class="row status <%= name %>"><h3><%= message %></h3>
<% end %>
</section>


<body>
  <%= yield %>
</body>
</html>
  <div id = "footer">
  <footer>&copy; 2017 Besties</footer>
  </div>
</div>
</html>
