<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Betsy</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>




  <div id = "container" >


  <header>
    <h1>Besty</h1>
  <nav>
    <div class="dropdown">
      <button class="dropbtn home">  <%= link_to "Home", items_path %></button>
      <div class="dropdown-content"></div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Shop by Category</button>
      <div class="dropdown-content">
        <%= link_to "Show all", items_path %>
        <% @categories.each do |category| %>
        <%= link_to "#{category.name}", category_items_path(category.id) %>
        <% end %>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Shop by Merchant</button>
      <div class="dropdown-content">
        <%= link_to "Show all", merchants_path %>
        <% @merchants.each do |merchant| %>
        <%= link_to "#{merchant.username}", merchant_items_path(merchant.id) %>
        <% end %>
      </div>
    </div>



      <div class="dropdown">
        <% if @login_form %>
          <button class="dropbtn">Logged in as <%= link_to "#{ @login_merchant.username }", merchant_path(@login_merchant) %>

          </button>
        <% else %>
          <button class="dropbtn">Merchant Account</button>
        <% end %>
        <div class="dropdown-content">
        <% if @login_merchant %>
          <p>
          </p>
          <%= link_to 'Logout', logout_path, method: :delete %>
          <%= link_to "My Account", merchant_path(@login_merchant.id), method: :get%>
        <% else %>
            <%= link_to 'Login using GitHub!', '/auth/github' %>
            <%= link_to 'Create new', new_merchant_path, method: :get%>
        <% end %>


      </div>
    </div>
    <div class="">
      <button class=" cart">  <%= link_to "My Cart", items_path %></button>
    </div>

  </header>
</nav>

<% flash.each do |name, message| %>
<section class="row status <%= name %>"><h3><%= message %></h3>
<% end %>
</section>


<body>
  <%= yield %>
</body>
</html>
  <div id = "footer">
  <footer>&copy; 2017 Besties</footer>
  </div>
</div>
</html>
