<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>




  <div id = "container" >


  <header>
    <h1>Besty</h1>
  <nav>
    <div class="dropdown">
      <button class="dropbtn"><%= link_to "Home", items_path %></button>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Shop by Category</button>
      <div class="dropdown-content">
        <%= link_to "Show all", items_path %>
        <% @categories.each do |category| %>
        <%= link_to "#{category.name}", category_items_path(category.id) %>
        <% end %>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Shop by Merchant</button>
      <div class="dropdown-content">
        <%= link_to "Show all", merchants_path %>
        <% @merchants.each do |merchant| %>
        <%= link_to "#{merchant.username}", merchant_path(merchant.id) %>
        <% end %>
      </div>
    </div>


      <div class="dropdown">
        <% if @login_form %>
          <button class="dropbtn">Logged in as <%= link_to "#{ @login_merchant.username }", merchant_path(@login_merchant) %>

          </button>
        <% else %>
          <button class="dropbtn">Merchant Sign in</button>
        <% end %>
        <div class="dropdown-content">
        <% if @login_merchant %>
          <p>
          </p>
          <%= link_to 'Logout', logout_path, method: :delete %>
          <%= link_to "My Account", merchant_path(@login_merchant.id), method: :get%>
        <% else %>
            <%= link_to 'Login using GitHub!', '/auth/github' %>
            <%= link_to 'Create new', new_merchant_path, method: :get%>
        <% end %>


      </div>
    </div>
    <!-- <div class="login-logout">
      <% if @login_merchant %>
        <p>
          Logged in as <%= link_to "#{ @login_merchant.username }", merchant_path(@login_merchant) %>
        </p>
        <%= link_to 'Logout!', logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Login using GitHub!', '/auth/github' %>
      <% end %>
    </div> -->

  </header>
</nav>

<% flash.each do |name, message| %>
<section class="row status <%= name %>"><h3><%= message %></h3>
<% end %>
</section>


<body>
  <%= yield %>
</body>
</html>
  <div id = "footer">
  <footer>&copy; 2017 Besties</footer>
  </div>
</div>
</html>
